* {
  box-sizing: border-box;
}

body {
  background-color: #454545;
  line-height: 1.7;
}
.side-bar{
  float: left;
  width: 20%;
  position:fixed;
}
.side-bar > *{
  padding: 10px 15px ;
}

.side-bar .nav  a,
.side-bar .tag-list a{
  display: block;
  min-width: auto;

  padding: 10px;
  color: #888;
  cursor:pointer; /*手指*/
  -webkit-transition: color 200ms;
  -moz-transition: color 200ms;
  -ms-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
}
.side-bar .nav  a:hover,
.side-bar .tag-list a:hover{
  color: #eee;
}
.side-bar .nav  a{
  font-weight: 700;
}
.main {
  float: right;
  width: 80%;
  color: #454545;
}

.header .logo {
  padding: 10px 20px;
  font-size: 30px;
  display: inline-block;
  border: 5px solid #eee;
  margin-bottom: 10px;
  line-height: 1;
}
a,body {
  color: #eee;
  text-decoration: none;
}
.article-list {
  margin-right:30%;
  background-color: #fff;
  padding: 20px 30px;
}
.article-list .item .title {
  font-size: 22px;
}
/*返回顶部*/
.top {
  position: fixed;  /*绝对定位脱离文档流，已浏览器左上角为基准*/
  left: 96%;
  top: 65%;


}
.top button {
  margin: 0;
  padding: 0;
  border: 1px solid transparent;  /*自定义边框*/
  outline: none;    /*消除默认点击蓝色边框效果*/
}

.submeau:hover{
  display: block;
}
.submeau a {
   display: block;
   color: #888;
}
.submeau a:hover {
  color: #FFFFFF;
}

.oa_submeau {
  background-color: #454545;
  width: 130px;
  padding: 5px;
  position: relative;
  top: 545px;
  left: 90px;
  /*display: none;*/
}
.oa_submeau a {
  color: #888;
  display: block;
  cursor:pointer; /*手指*/
}
.oa_submeau a:hover {
  color: #FFFFFF;
}


